.wrap{
    display: flex;
    width: 70%;
    margin: 30px auto;
    height: 90vh;
    border-radius: 50px 50px;
    background-color: #154790;
}
.wrap>div:first-child{
    display: inline-block;
    width: 32%;
    height: 100%;
    position: relative;
}

.wrap>div:first-child>div{
    width: 220px;
    position: absolute;
    right: 0;
    top:120px;
    text-align: center;
}
.wrap>div:first-child>div>article{
    margin-bottom: 20px;
    border-radius: 100px 100px;
    height: 180px;
    width: 180px;
    position: relative;
}
.wrap>div:first-child>div>article>img{
    display: inline-block;
    width: 120px;
    height: 120px;
    position: absolute;
    top:28px;
    left: 28px;
}
.wrap>div:first-child>div>article>span{
    display: inline-block;
    width: 120px;
    position: absolute;
    color: white;
    font-size: 18px;
    bottom: 5px;
    left: 30px;
}
.selected{
    border: 8px solid #6685b3;
}
.wrap>div:last-child{
    display: inline-block;
    width: 68%;
    height: 100%;	
    position: relative;
}
.wrap>div:last-child>div{
    width: 800px;
    position: absolute;
    top:120px;
    left: 0;
    height: 600px;
}
.wrap>div:last-child>div>div:first-child{
    height: 180px;
    font-size: 50px;
    color: white;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
}
.wrap>div:last-child>div table{
    margin-top: 10px;
    height: 420px;
    width: 100%;
    border-collapse: collapse;
}
.wrap>div:last-child>div table td{
    font-size: 35px;
    color: white;
    font-weight: bold;
}.wrap>div:last-child>div table th{
    font-size: 35px;
    position: relative;
}
.wrap>div:last-child>div table th>img{
    position: absolute;
    right: 10px;
    top: 47px;
}
.wrap>div:last-child>div table td>input{
    width: 90%;
    border: 1px solid white;
    height: 42px;
    border-radius: 20px 20px;
    font-size: 30px;
    color: #154790;
    padding-left: 20px;
}
.wrap>div:last-child>div table td>.login_btn{
    height: 65px;

}
.login_btn{
    font-weight: bold;
}
.logo{
    margin-top: 30px;
    padding-left: 450px;
}
.wrap>div:last-child>div table td>.login_btn:active{
    background-color: #9BF2E2;
}