#logo{
    margin: auto;
    width: 90%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    height: 40px;
 }
 #logo>a{
    display: inline-block;
    position: absolute;
    width: 250px;   
    left: 0;
    height: 40px;
 }
 #logo>a>img{
    display: inline-block;
    width: 100%;
    height: 100%;
 }
 #logo>span{
    display: inline-block;
    position: absolute;
    right:  10px;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
 }
 #top{
     width: 90%;
     margin: auto;
     height: 86vh;
     display: flex;
}
#top>.left{
    display: inline-block;
    width: 15%;
    height: 100%;
    background-color: rgb(21, 71, 144,0.8);
}
#top>.left>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#top>.left>ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
#top>.left>ul>li:hover{
     background-color: rgb(21, 71, 144);
}
.selected{
    background-color: rgb(21, 71, 144);
}
#top>.left>ul>li>a{
    display: inline-block;
    width: 95%;
    text-align: left;
    font-size: 17px;
    color: white;
}
#top>.right{
    display: inline-block;
    width: 85%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}
#course_wrap{
    width: 90%;
    margin: auto;
    height: max-content;
    text-align: right;
    position: relative;
    height: 50px;
}
#select_course{
    display: inline-block;
    width: 50%;
    height: 35px;
    position: absolute;
    left: 0;
    top: 10px;
}
#course_wrap span{
    position: absolute;
    display: inline-block;
    width: max-content;
    bottom: 0;
    right: 0;
}
#course_wrap span>a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}
#course_wrap span>a:hover{
    background-color: #dedede;
}
#course_wrap span>a>img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
#course_wrap ul{
    display: none;
}

.mypage_ul{
    position: absolute;
    bottom: -60px;
    right: -50px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    background-color: #dedede;
    border-radius: 10px 10px;
}
.mypage_ul>li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;  
}
.mypage_ul>li>a{
    display: inline-block;
    padding: 5px;
    color: rgb(21, 71, 144);
}
.mypage_ul>li>a:hover{
    color: rgb(21, 71, 144);
    font-weight: bolder;
}

